body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #001d3d;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    margin-top: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: rgba(22, 101, 211, 0.66);
    margin: 20px;
    border-radius: 10px;
    color: black;
}

footer {
    background-color: #001d3d;
    text-align: center;
    padding: 10px 0;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: #030a4a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0534c1;
}

li{
    list-style-type: none;
}
.play a{
    text-decoration: none;
    color: #ccc;
    font-size: large;
}
.play{
    width: 140px;
}
.go a{
    text-decoration: none;
    color: #ccc;
    font-size:large;
}
.go{
    width: 70px;
}